/* Application-wide Styles */

h1 {
    color: rgb(50, 10, 73);
    font-family: fantasy;
    font-size: 400%;
    text-align: center;
}

h3 {
    color: rgb(85, 31, 172);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

body {
    margin: 4em;
}

body,
input[type="text"],
button {
    color: rgb(172, 17, 17);
    font-family: Arial, Helvetica, sans-serif;
}

button {
    background-color: #eee;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: black;
    font-size: 1.2rem;
    padding: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

button:hover {
    background-color: rgb(17, 9, 87);
    color: white;
}

button:disabled {
    background-color: rgb(255, 255, 255);
    color: rgb(238, 12, 12);
    cursor: all-scroll;
}


/* everywhere else */

* {
    font-family: Arial;
}